.header {
    background-color:#4E9BB9;
    display: flex;
    flex-direction:row;
    width: 100%;
    height: 100px;
}

.content-container {
    display: flex;
    grid-gap: 100px;
    flex-direction: column;
    width: 100%;
    height: 100%;
}