# This is a example file used as configuration of the environment vars used in
# this project. The pattern used is VAR=VALUE.
# Lines with # will be ignored
# WARNING: This is a versionable file, and is used in versioning control
# This file will be sent to git repo, any sentive information may be visible
# to undesired eyes.
# You should not modify this file. You should copy it and edit and use the copy.

PORT=3333

# This should be a secret key to encode the informations on the token
JWT_KEY="secret_very_long_string_key"
