@import url("https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap");

html,
body,
#root {
  height: 100%;
}

body {
  background: #eceff3;
  -webkit-font-smoothing: antialiased;
}

body,
input,
button {
  font-family: Roboto, sans-serif;
}
